@import url("https://fonts.cdnfonts.com/css/inter");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

#chat::-webkit-scrollbar {
  width: 10px;
}


#chat::-webkit-scrollbar-track {
  background-color: rgb(29, 31, 43);
  border-radius: 10px;
}


#chat::-webkit-scrollbar-thumb {
  background-color: rgb(59, 62, 83);
  border-radius: 10px;
}


#chat::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.login{
  animation: deslizar 1s forwards,
              hidde 2s ease-in-out 1s forwards;
}

#sino{
  animation: notification 0.31s ease-in-out infinite;
}

@keyframes deslizar {
  from{
    right: -15rem;
  }
  to {
    right: 2.5rem;
  }
}

@keyframes hidde {
  from{
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes notification {
  0%, 100%{
    transform: rotate(-10deg);
  }
  50%{
    transform: rotate(10deg);
  }
}