<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/src/css/output.css" rel="stylesheet">
</head>
<body>
    <h1>Tela de login</h1>
    <%if(erro){%>
        <div class="alert alert-danger" role="alert">
          <%=erro%>
        </div>
        <%}%>

        <div class="bg-[red] h-[200px] w-[200px]"></div>

    <form class="bg-[blue] p-10" action="/login" method="post" >
        <label>E-mail</label>
        <input name="email" type="text" required>
        <label>Senha</label>
        <input name="senha" type="password" required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>